
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.about-me [class*='title']{
  font-size: 50px;
}
.about-me .title-2 span{
  color: darkorange;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 80px;
}
.home{
  background: url(../img/top-banner.png);
  background-repeat: no-repeat;
}
 .half{
  width: 50%;
  padding: 0 3% 0 3%;
}
.home .my-img{
  text-align: right;
}
img{
  width: 80%;
}
.about-me a{
  margin-top: 15px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, #ffd000, darkorange);
}
.about-me h4{
  color: #b85300;
  font-size: 25px;
  margin-bottom: 10px;
}
.dream-big .my-img{
  text-align: left;
}
.dream-big .about-me{
  padding-right: 70px;
}
.dream-big{
  background: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experiance{
  background: url(../img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.experiance h1{
  font-size: 60px;
  margin-left: 15px;
  color: #222;
}
.experiance-item{
  width: 40%;
  margin: 0 5%;
  padding: 20px;
  box-shadow: 10px 10px 40px #0000004f;
  border-radius: 4px;
}
.experiance-item h2{
  font-size: 40px;
  margin-bottom: 10px;
}
.experiance-item h4{
  font-size: 22px;
  color: darkorange;
}
.experiance-item p{
  margin-top: 15px;
}
#full-stack-dev{
  border-left: 6px solid;
  border-image: linear-gradient(#ff8800, #ffe600);
  border-image-slice: 1;
}
#baby-dev{
  border-left: 6px solid;
  border-image: linear-gradient(#00f, #00eeff);
  border-image-slice: 1;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: honeydew;
}